
body {
    background: rgb(251, 253, 255);
    font-family: Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ===== App container ===== */
.app-container {
    text-align: center;
}

h1 {
    text-align: center;
}

/* ===== Login / Signup card ===== */
.card {
    background-color: rgb(255, 255, 255);
    width: 80%;
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 5% ;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    flex-direction: column;
}

/* ===== The signle paragraph after h1 ===== */
#des {
    color: grey;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
}

/* ===== Feature points above login/signup ===== */
.point img {
  width: 30px;
  height: 30px;
}

.points-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 35px;
    width: 100%;
    margin-bottom: 0;
}

.point p {
    font-size: 0.8rem;
    text-align: center;
    color: grey;
}

.point {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

/* ===== Card heading ===== */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* ===== Page layout ===== */
.login-page,
.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 2rem 1rem;
    gap: 0.2rem;
}

#hat {
  display: block;
  margin: 40px auto 2px;
  width: 70px;
}

.login-page h1 {
  margin-top: 5px;
  margin-bottom: 2px;
}

/* ===== Navigation buttons container ===== */
.nav-buttons-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    background: rgb(236, 236, 236);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* ===== Navigation buttons ===== */
.nav-buttons-cont button {
    width: 22vw;
    min-width: 160px;
    max-width: 180px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: transparent;
    margin: 2px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.nav-buttons-cont button:active {
    background: rgb(214, 210, 211);
}

.nav-buttons-cont button.active {
  background-color: rgb(255, 255, 255);
}

/* ===== Form ===== */
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

/* ===== Form inputs ===== */
form input {
    padding: 9px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
}

/* ===== Submit button ===== */
form button[type="submit"] {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: hsl(44, 96%, 60%);
    cursor: pointer;
    transition: background 0.2s;
    font-weight: bold;
}

form button[type="submit"]:active {
    background: rgb(255, 255, 255);
}
form input {
  transition: border-color 0.2s ease;
  outline: none;
}

form input:focus {
  border:solid 2px #ffd518; /* yellow */
  outline: none;
}

/* ===== text below card login/signup ===== */

.under-card {
    font-size: 0.9 rem;
    color: grey;
    margin-top: 0;
}

/* ===== bottom navbar ===== */

.bottom-navbar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5%;
 
    padding: 10px 0;
    width: 100%;
    border-top: solid 1px rgb(207, 204, 204);
}

.bottom-navbar a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.Nav-icon {
    width: 20px;
    margin: 5px;
}
.nav-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-col a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;

}

.nav-col a.active {
    background-color: rgb(255, 210, 8);
    border-radius: 4px;
    padding: 2px 8px;
    width: 60px;
}
/* =====home page===== */


#page-head {
    text-align: left;
}

.home-head {
    margin-top: 3%;
    margin-left: 2%;
}

.Search-bar {
    width: calc(100% - 40px);
    max-width: 100%;
    height: 35px;
    margin: 2px 20px;
    border-radius: 25px;
    border: none;
    padding: 8px 25px;
    font-size: 1rem;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box; 
}

.Search-bar:focus {
    border:solid 2px #ffd518; /* yellow */
    outline: none;
}

@media (max-width: 600px) {
  .Search-bar {
    width: calc(100% - 20px);
    margin: 2px 10px;
    font-size: 0.9rem;
  }
}